<h3> Types, expressions and variables </h3>

In [1]:
str(1)

'1'

In [2]:
float(1)

1.0

In [3]:
int(4.3)

4

In [16]:
hugo = 1

In [13]:
bool(1)

True

In [14]:
bool(0)

False

In [17]:
bool(hugo)

True

In [18]:
hugo = hugo - 1

In [19]:
bool(hugo)

False

In [20]:
type(True)

bool

In [21]:
type(False)

bool

In [22]:
type('ok')

str

In [25]:
operation = 20

float(operation)

operation = operation // 2

print(operation)

10

In [26]:
import sys
print(sys.version)

3.8.5 (default, Sep  4 2020, 02:22:02)
[Clang 10.0.0 ]

In [27]:
bool(4)

True

In [28]:
bool(57)

True

In [29]:
bool(0)

False

<h3> String operations </h3>

In [30]:
string = "Hugo Torche"

In [33]:
string[5]

'T'

In [34]:
string[::2]

'Hg oce'

In [37]:
string[0:6:1]

'Hugo T'

In [38]:
string.find("H")

0

In [42]:
new_string = string.upper()

new_string

'HUGO TORCHE'

In [43]:
len(new_string)

11

In [44]:
new_string[0:2]

'HU'

In [45]:
new_string[-1]

'E'

In [46]:
len(new_string)

11

In [47]:
new_string[0:3]

'HUG'

In [48]:
new_string[::2]

'HG OCE'

In [49]:
new_string = new_string + " is me"
new_string

'HUGO TORCHE is me'

In [61]:
new_string = "Hugo Torche is me"
new_string

'Hugo Torche is me'

<h3> Lists </h3>

In [1]:
A = [1, "rock", 2.34, "ok", 3]

In [11]:
B = A[:]

In [12]:
B

(1, 'rock', 2.34, 'ok', 3)

In [13]:
A

(1, 'rock', 2.34, 'ok', 3)

In [14]:
A + B

(1, 'rock', 2.34, 'ok', 3, 1, 'rock', 2.34, 'ok', 3)

In [26]:
type(A)

tuple

In [31]:
A = list(A)

In [29]:
list(A).append([1, 2])

In [30]:
A

(1, 'rock', 2.34, 'ok', 3)

In [45]:
L = ["Michael Jackson", 10.1, 1982]

print('the same element using negative and positive indexing:\n Postive:',L[0],
'\n Negative:' , L[-3]  )
print('the same element using negative and positive indexing:\n Postive:',L[1],
'\n Negative:' , L[-2]  )
print('the same element using negative and positive indexing:\n Postive:',L[2],
'\n Negative:' , L[-1]  )

the same element using negative and positive indexing:
 Postive: Michael Jackson
 Negative: Michael Jackson
the same element using negative and positive indexing:
 Postive: 10.1
 Negative: 10.1
the same element using negative and positive indexing:
 Postive: 1982
 Negative: 1982

In [46]:
print("My name is \n Hugo")

My name is
 Hugo

In [47]:
L[-2]

10.1

In [49]:
L[1:2]

[10.1]

In [50]:
L.extend([1, 2, "bill"])

In [51]:
L

['Michael Jackson', 10.1, 1982, 1, 2, 'bill']

In [52]:
L[3:5]

[1, 2]

In [53]:
len(L)

6

In [54]:
L.append(["pop", "pop", "pop"])

In [55]:
L

['Michael Jackson', 10.1, 1982, 1, 2, 'bill', ['pop', 'pop', 'pop']]

In [56]:
L[6][2]

'pop'

In [57]:
L

['Michael Jackson', 10.1, 1982, 1, 2, 'bill', ['pop', 'pop', 'pop']]

In [58]:
L[1] = 12.453
L

['Michael Jackson', 12.453, 1982, 1, 2, 'bill', ['pop', 'pop', 'pop']]

In [59]:
L[5] = "BOLL"
L

['Michael Jackson', 12.453, 1982, 1, 2, 'BOLL', ['pop', 'pop', 'pop']]

In [60]:
del(L[3:5])
L

['Michael Jackson', 12.453, 1982, 'BOLL', ['pop', 'pop', 'pop']]

In [61]:
del(L[-1])
L

['Michael Jackson', 12.453, 1982, 'BOLL']

In [64]:
A = L[0]
A

'Michael Jackson'

In [67]:
A = A.split()

In [71]:
B = A
print("A :", A)
print("B :", B)

A : ['Michael', 'Jackson']
B : ['Michael', 'Jackson']

In [72]:
A[0] = "Hugo"
B

['Hugo', 'Jackson']

In [73]:
B = A[:]
B

['Hugo', 'Jackson']

In [74]:
A[1] = "Torche"
B

['Hugo', 'Jackson']

In [75]:
A

['Hugo', 'Torche']

<h3> Tuples </h3>

In [76]:
tuple1 = ("disco", 10, 1.2)

In [77]:
tuple1

('disco', 10, 1.2)

In [78]:
type(tuple1)

tuple

In [79]:
type(tuple1[1])

int

In [80]:
tuple1[1:2]

(10,)

In [81]:
tuple2 = tuple1 + ("hard rock", 10.34)
tuple2

('disco', 10, 1.2, 'hard rock', 10.34)

In [82]:
len(tuple2)

5

In [84]:
tuple2[-3]

1.2

In [85]:
tuple3 = (5,6,3,7,2,9,6,2,765)

In [86]:
tuple4 = sorted(tuple3)

In [87]:
tuple4

[2, 2, 3, 5, 6, 6, 7, 9, 765]

In [89]:
tuplenested =(1, 2, ("pop", "rock") ,(3,4),("disco",(1,2)))
tuplenested

(1, 2, ('pop', 'rock'), (3, 4), ('disco', (1, 2)))

In [90]:
tuplenested[2]

('pop', 'rock')

In [93]:
tuplenested[4][1]

(1, 2)

In [94]:
tuplenested[2][1][1]

'o'

In [95]:
tuplenested

(1, 2, ('pop', 'rock'), (3, 4), ('disco', (1, 2)))

In [97]:
tuplenested.index(1)

0

<h3> Dictionaries </h3>

In [100]:
Dict = {"key1": 1, "key2": "2", "key3": [3, 3, 3], "key4": (4, 4, 4), ('key5'): 5, (0, 1): 6}
Dict

{'key1': 1,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

In [101]:
"key1" in Dict

True

In [102]:
"key323" in Dict

False

In [103]:
Dict["key1"]

1

In [105]:
Dict["key1"] = 3

In [106]:
Dict

{'key1': 3,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 6}

In [107]:
Dict[(0,1)]

6

In [108]:
Dict[(0,1)] = 7
Dict

{'key1': 3,
 'key2': '2',
 'key3': [3, 3, 3],
 'key4': (4, 4, 4),
 'key5': 5,
 (0, 1): 7}

In [109]:
release_year_dict = {"Thriller": "1982", "Back in Black": "1980", \
                    "The Dark Side of the Moon": "1973", "The Bodyguard": "1992", \
                    "Bat Out of Hell": "1977", "Their Greatest Hits (1971-1975)": "1976", \
                    "Saturday Night Fever": "1977", "Rumours": "1977"}
release_year_dict

{'Thriller': '1982',
 'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

In [110]:
Dict.keys()

dict_keys(['key1', 'key2', 'key3', 'key4', 'key5', (0, 1)])

In [111]:
release_year_dict.keys()

dict_keys(['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard', 'Bat Out of Hell', 'Their Greatest Hits (1971-1975)', 'Saturday Night Fever', 'Rumours'])

In [112]:
Dict.values()

dict_values([3, '2', [3, 3, 3], (4, 4, 4), 5, 7])

In [116]:
Dict

{'key2': '2', 'key3': [3, 3, 3], 'key4': (4, 4, 4), 'key5': 5, (0, 1): 7}

In [117]:
del(Dict["key2"])

In [118]:
Dict

{'key3': [3, 3, 3], 'key4': (4, 4, 4), 'key5': 5, (0, 1): 7}

In [119]:
del(release_year_dict["Thriller"])

In [120]:
release_year_dict

{'Back in Black': '1980',
 'The Dark Side of the Moon': '1973',
 'The Bodyguard': '1992',
 'Bat Out of Hell': '1977',
 'Their Greatest Hits (1971-1975)': '1976',
 'Saturday Night Fever': '1977',
 'Rumours': '1977'}

<h3> Sets </h3>

In [129]:
set1 = {"fifa", "pes", "fifa", "callof", "callof", "assassins", "wii"}

In [130]:
set1

{'assassins', 'callof', 'fifa', 'pes', 'wii'}

In [131]:
set(L)

{12.453, 1982, 'BOLL', 'Michael Jackson'}

In [132]:
set2 = {"fifa", "xbox", "switch", "play", "callof", "wii", "switch", "gameboy"}

In [133]:
set3 = set1 & set2

In [134]:
set3

{'callof', 'fifa', 'wii'}

In [135]:
set1.union(set2)

{'assassins',
 'callof',
 'fifa',
 'gameboy',
 'pes',
 'play',
 'switch',
 'wii',
 'xbox'}

In [136]:
set1.intersection(set2)

{'callof', 'fifa', 'wii'}

In [137]:
set1.difference(set2)

{'assassins', 'pes'}

In [138]:
set1.add(567)

In [139]:
set1

{567, 'assassins', 'callof', 'fifa', 'pes', 'wii'}

In [140]:
set1.difference(set2)

{567, 'assassins', 'pes'}

In [141]:
set1.remove("pes")
set1

{567, 'assassins', 'callof', 'fifa', 'wii'}

In [142]:
set2.remove("fifa")

In [143]:
set2

{'callof', 'gameboy', 'play', 'switch', 'wii', 'xbox'}

In [144]:
"play" in set2

True

In [145]:
"cawabouga" in set1

False

In [146]:
set1, set2

({567, 'assassins', 'callof', 'fifa', 'wii'},
 {'callof', 'gameboy', 'play', 'switch', 'wii', 'xbox'})

In [148]:
set1.issubset(set2)

False

In [150]:
set2.add(567)
set2.add("assassins")
set2.add("fifa")
set1,set2

({567, 'assassins', 'callof', 'fifa', 'wii'},
 {567,
  'assassins',
  'callof',
  'fifa',
  'gameboy',
  'play',
  'switch',
  'wii',
  'xbox'})

In [151]:
set2.issubset(set1)

False

In [152]:
set2.issuperset(set1)

True

In [153]:
set1.issubset(set2)

True